.close-button{
  position:absolute;
  right:-10px;
  top:-10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transform:scale(2);
  cursor: pointer;
  .backColor{
    position: absolute;
    top:5px;
    left: 10px;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    z-index: -1;
  }
}


