.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: auto;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: auto;

        h2{
            text-align: center;
        }
    }
    
    #create-employee{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid 1px rgb(176, 176, 176);
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
    
        .completeForm{
            display: flex;
            flex-direction: row;
        }
    
        .employeePersonalInfo{
            width: 100%;
            padding: 5px;
        }
    
        .employeeAdress{
            width: 100%;
            padding: 5px;
    
            .address{
                height: 92.5%;
                border: solid 1px rgb(176, 176, 176);
                background-color: rgba(255, 255, 255, 0.335);
                border-radius: 10px;
            }
        }
    
        .buttonContainer{
            display:flex;
            justify-content: center;
            
            button{
                width: 70px;
                margin: 10px;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }
    
    label {
        display: block;
        margin-top: 1rem;
        margin-bottom: 10px;
    }
    
    .address {
        margin-top: 10px;
    }
    
    .errorMessage{
        color: rgb(252, 252, 252);
        font-size: 13px;
    }
}