.date-picker{

    .date-picker-container{
        position: absolute;
        background-color: white;
        border: solid 1px black;
        z-index: 10;

        .date-picker-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            select{
                appearance: none; /* Remove default dropdown arrow (not supported in all browsers) */
                border: none; /* Remove border */
                background-color: transparent; /* Set background to transparent */
                padding: 0; /* Remove padding */
                margin: 0; /* Remove margin */
                font-family: inherit; /* Use the parent font */
                font-size: inherit; /* Use the parent font size */
                color: inherit; /* Use the parent text color */
                outline: none; /* Remove focus outline */
                width: 70px;
            }
        }
    
        button{
            cursor: pointer;
            appearance: none; /* Remove default dropdown arrow (not supported in all browsers) */
            border: none; /* Remove border */
            background-color: transparent; /* Set background to transparent */
            padding: 0; /* Remove padding */
            margin: 0; /* Remove margin */
            font-family: inherit; /* Use the parent font */
            font-size: inherit; /* Use the parent font size */
            color: inherit; /* Use the parent text color */
            outline: none; /* Remove focus outline */
        }

        .custom-select{
            min-width:0px;
            border: none !important;
        }

        thead{
            background-color: rgb(203, 203, 203);
            color: grey;
        }
    }

    .date-picker-calendar{
        background-color: rgb(240, 240, 240);
        border-collapse: collapse; /* Collapse borders to create grid lines */
        width: 100%;
        padding: 2px;
        td{
            border: 1px solid #ccc; /* Add a thin grey border to each cell */
            padding: 8px; /* Add padding for better spacing */
            text-align: center; /* Center align text within cells */
        }

        .inactive{
            color:grey;
        }

    }
}

