.date-picker{

    .date-picker-container{
        position: absolute;
        background-color: white;
        border: solid 1px black;
        z-index: 10;
        min-width: 276px;
        padding: 5px;

        .date-picker-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    
        button{
            cursor: pointer;
            appearance: none;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 5px;
            font-family: inherit;
            font-size: inherit;
            color: grey;
            outline: none;
            &:hover{
                color: black;
            }
        }

        .custom-select{
            min-width:0px;
            border: none !important;
        }

        thead{
            background-color: rgb(203, 203, 203);
            color: grey;
            border: solid 1px #ccc;
        }
    }

    .date-picker-calendar{
        background-color: rgb(240, 240, 240);
        border-collapse: collapse;
        width: 100%;
        padding: 2px;

        .inactive{
            cursor: default;
            &:hover{
                background-color: rgb(240, 240, 240);
            }
        }
        td{
            padding: 8px;
            text-align: center;
            cursor: pointer;
            border: none;
            border-radius: 25px;
            height: 39px;
            width: 20px; // Desired width
            padding: 8px;
            box-sizing: border-box; // Include padding in the width
            overflow: visible;
            &:hover{
                background-color: orange;
                color: white;
            }
        }

        .inactive{
            color:grey;
        }

        .current-day{
            background-color: rgb(0, 145, 255);
            color: white;
            font-weight: bold;
        }

        .selectedDay{
            background-color: rgb(0, 145, 255);
            color: white;
            font-weight: bold;
        }

        .currentDayUnselected{
            color: rgb(0, 145, 255);
        }

    }
}